 <!DOCTYPE html>
 <html>
 <head>
     <title>Trivia Game</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
 </head>
 <body>
     <div class="container">
         <h1>Trivia Game</h1>
         <form method="POST" class="trivia-form">
             <select name="topic" class="input-field custom-select" required>
                 <option value="artliterature" selected>Art & Literature</option>
                <option value="language">Language</option>
                <option value="sciencenature">Science & Nature</option>
                <!-- add all other option - general,fooddrink,peopleplaces,geography,historyholidays,entertainment,toysgames,music,mathematics,religionmythology,sportsleisure -->
                <option value="general">General</option>
                <option value="fooddrink">Food & Drink</option>
                <option value="peopleplaces">People & Places</option>
                <option value="geography">Geography</option>
                <option value="historyholidays">History & Holidays</option>
                <option value="entertainment">Entertainment</option>
                <option value="toysgames">Toys & Games</option>
                <option value="music">Music</option>
                <option value="mathematics">Mathematics</option>
                <option value="religionmythology">Religion & Mythology</option>
                <option value="sportsleisure">Sports & Leisure</option>
             </select>
             <input type="submit" value="Get Question" class="submit-button custom-submit-button">
         </form>
 
         {% if question %}
         <div class="card">
             <div class="card-inner">
                 <div class="card-front">
                     <p class="question">Question: {{ question }}</p>
                 </div>
                 <div class="card-back">
                     <p class="answer">Answer: {{ answer }}</p>
                 </div>
             </div>
         </div>
         {% endif %}
     </div>
 
     <script>
         document.addEventListener("DOMContentLoaded", function() {
            const card = document.querySelector('.card-inner');
            if(card) {
                card.addEventListener('click', function() {
                    card.classList.toggle('is-flipped');
                });
            }
        });
     </script>
 </body>
 </html>
 